.wi-towards-n {
  transform: rotate(0deg);
  display: inline-block;
}
.wi-towards-nne {
  transform: rotate(23deg);
  display: inline-block;
}
.wi-towards-ne {
  transform: rotate(23deg);
  display: inline-block;
}
.wi-towards-ene {
  transform: rotate(23deg);
  display: inline-block;
}
.wi-towards-e {
  transform: rotate(23deg);
  display: inline-block;
}
.wi-towards-ese {
  transform: rotate(23deg);
  display: inline-block;
}
.wi-towards-se {
  transform: rotate(23deg);
  display: inline-block;
}
.wi-towards-sse {
  transform: rotate(23deg);
  display: inline-block;
}
.wi-towards-s {
  transform: rotate(23deg);
  display: inline-block;
}
.wi-towards-ssw {
  transform: rotate(23deg);
  display: inline-block;
}
.wi-towards-sw {
  transform: rotate(23deg);
  display: inline-block;
}
.wi-towards-wsw {
  transform: rotate(23deg);
  display: inline-block;
}
.wi-towards-w {
  transform: rotate(23deg);
  display: inline-block;
}
.wi-towards-wnw {
  transform: rotate(23deg);
  display: inline-block;
}
.wi-towards-nw {
  transform: rotate(23deg);
  display: inline-block;
}
.wi-towards-nnw {
  transform: rotate(23deg);
  display: inline-block;
}