#set $now=$current.dateTime.raw
#encoding UTF-8
##0-5
$current.outTemp.formatted|$day.outTemp.min.formatted|$day.outTemp.mintime|$day.outTemp.max.formatted|$day.outTemp.maxtime|#slurp
#if $current.outTemp.formatted > $current($timestamp=$now-3600, $max_delta=180).outTemp.formatted
Rising|#slurp
#elif $current.outTemp.formatted < $current($timestamp=$now-3600, $max_delta=180).outTemp.formatted
Falling|#slurp
#else
Steady|#slurp
#end if
##6-11
$current.outHumidity.formatted|$day.outHumidity.min.formatted|$day.outHumidity.mintime|$day.outHumidity.max.formatted|$day.outHumidity.maxtime|#slurp
#if $current.outHumidity.formatted > $current($timestamp=$now-3600, $max_delta=180).outHumidity.formatted
Rising|#slurp
#elif $current.outHumidity.formatted < $current($timestamp=$now-3600, $max_delta=180).outHumidity.formatted
Falling|#slurp
#else
Steady|#slurp
#end if
##12-19
$current.dewpoint.formatted|$day.dewpoint.min.formatted|$day.dewpoint.mintime|$day.dewpoint.max.formatted|$day.dewpoint.maxtime|#slurp
#if $current.dewpoint.formatted > $current($timestamp=$now-3600, $max_delta=180).dewpoint.formatted
Rising|#slurp
#elif $current.dewpoint.formatted < $current($timestamp=$now-3600, $max_delta=180).dewpoint.formatted
Falling|#slurp
#else
Steady|#slurp
#end if
||#slurp
##20-24
$day.rain.sum.formatted|$yesterday.rain.sum.formatted|$month.rain.sum.formatted|$year.rain.sum.formatted|$current.rainRate.formatted|#slurp
##25-30
$current.windGust.formatted|$current.windSpeed.formatted|$current.windDir.formatted|$day.windSpeed.avg.formatted|$day.windDir.avg.ordinal_compass|$current.windDir.ordinal_compass|#slurp
##31-36
$day.wind.max.formatted|$day.wind.gustdir.ordinal_compass|$day.wind.maxtime||||#slurp
##37-45
$current.barometer.formatted|#slurp
#if $current.barometer.formatted > $current($timestamp=$now-3600, $max_delta=180).barometer.formatted
Rising|#slurp
#elif $current.barometer.formatted < $current($timestamp=$now-3600, $max_delta=180).barometer.formatted
Falling|#slurp
#else
Steady|#slurp
#end if
$day.barometer.max.formatted|$day.barometer.maxtime|$day.barometer.min.formatted|$day.barometer.mintime|$current.radiation.formatted||$current.UV.formatted|#slurp
## 46-52
#set $cloudHeight = round((($current.outTemp.degree_F.raw - $current.dewpoint.degree_F.raw) * 1000 / 4.4 + $station.altitude.foot.raw) * .3048, 0)
$cloudHeight|#slurp
$almanac.moon.rise|$almanac.moon.set|$almanac.next_full_moon|$almanac.next_new_moon|$almanac.moon_phase|$almanac.moon_fullness|#slurp
## 53-59
$day.ET.sum.formatted|$current.dateTime.format("%a, %d %b %Y")|$current.dateTime.format("%H:%M %Z")|$station.location|$almanac.sun.rise|$almanac.sun.set|$almanac.sun.transit|#slurp
## 
## this info should be set based on weewx settings rather than user defined
##
## 60-64
$unit.label.outTemp|$unit.label.windSpeed|$unit.label.rain|$unit.label.barometer|$unit.label.outHumidity|#slurp
##
## Yesterday stats
##
## 65-68
$yesterday.outTemp.min.formatted|$yesterday.outTemp.mintime|$yesterday.outTemp.max.formatted|$yesterday.outTemp.maxtime|#slurp
## 69-71
$yesterday.wind.max.formatted|$yesterday.wind.gustdir.ordinal_compass|$yesterday.wind.maxtime|#slurp
## 72-75
$yesterday.barometer.max.formatted|$yesterday.barometer.maxtime|$yesterday.barometer.min.formatted|$yesterday.barometer.mintime|#slurp
## 76-79
$yesterday.dewpoint.min.formatted|$yesterday.dewpoint.mintime|$yesterday.dewpoint.max.formatted|$yesterday.dewpoint.maxtime|#slurp
## 80-83
$yesterday.outHumidity.min.formatted|$yesterday.outHumidity.mintime|$yesterday.outHumidity.max.formatted|$yesterday.outHumidity.maxtime|#slurp
## 84-87
$yesterday.barometer.max.formatted|$yesterday.barometer.maxtime|$yesterday.barometer.min.formatted|$yesterday.barometer.mintime|#slurp
##
## This month stats
##
## 88-91
$month.outTemp.min.formatted|$month.outTemp.mintime.format("%d%b%y %H:%M")|$month.outTemp.max.formatted|$month.outTemp.maxtime.format("%d%b%y %H:%M")|#slurp
## 92-94
$month.wind.max.formatted|$month.wind.gustdir.ordinal_compass|$month.wind.maxtime.format("%d%b%y %H:%M")|#slurp
## 95-98
$month.barometer.max.formatted|$month.barometer.maxtime.format("%d%b%y %H:%M")|$month.barometer.min.formatted|$month.barometer.mintime.format("%d%b%y %H:%M")|#slurp
## 99-102
$month.dewpoint.min.formatted|$month.dewpoint.mintime.format("%d%b%y %H:%M")|$month.dewpoint.max.formatted|$month.dewpoint.maxtime.format("%d%b%y %H:%M")|#slurp
## 103-106
$month.outHumidity.min.formatted|$month.outHumidity.mintime.format("%d%b%y %H:%M")|$month.outHumidity.max.formatted|$month.outHumidity.maxtime.format("%d%b%y %H:%M")|#slurp
## 107-110
$month.barometer.max.formatted|$month.barometer.maxtime.format("%d%b%y %H:%M")|$month.barometer.min.formatted|$month.barometer.mintime.format("%d%b%y %H:%M")|#slurp
##
## This year stats
##
## 111-114
$year.outTemp.min.formatted|$year.outTemp.mintime.format("%d%b%y %H:%M")|$year.outTemp.max.formatted|$year.outTemp.maxtime.format("%d%b%y %H:%M")|#slurp
## 115-117
$year.wind.max.formatted|$year.wind.gustdir.ordinal_compass|$year.wind.maxtime.format("%d%b%y %H:%M")|#slurp
## 118-121
$year.barometer.max.formatted|$year.barometer.maxtime.format("%d%b%y %H:%M")|$year.barometer.min.formatted|$year.barometer.mintime.format("%d%b%y %H:%M")|#slurp
## 122-125
$year.dewpoint.min.formatted|$year.dewpoint.mintime.format("%d%b%y %H:%M")|$year.dewpoint.max.formatted|$year.dewpoint.maxtime.format("%d%b%y %H:%M")|#slurp
## 126-129
$year.outHumidity.min.formatted|$year.outHumidity.mintime.format("%d%b%y %H:%M")|$year.outHumidity.max.formatted|$year.outHumidity.maxtime.format("%d%b%y %H:%M")|#slurp
## 130-133
$year.barometer.max.formatted|$year.barometer.maxtime.format("%d%b%y %H:%M")|$year.barometer.min.formatted|$year.barometer.mintime.format("%d%b%y %H:%M")|#slurp
##
## Alltime stats -- optional and depends on the alltime search, the following lines will only work if you have xstat.py installed
##
#if $varExists('alltime')
## 134-137
$alltime.outTemp.min.formatted|$alltime.outTemp.mintime.format("%d%b%y %H:%M")|$alltime.outTemp.max.formatted|$alltime.outTemp.maxtime.format("%d%b%y %H:%M")|#slurp
## 138-140
$alltime.wind.max.formatted|$alltime.wind.gustdir.ordinal_compass|$alltime.wind.maxtime.format("%d%b%y %H:%M")|#slurp
## 141-144
$alltime.barometer.max.formatted|$alltime.barometer.maxtime.format("%d%b%y %H:%M")|$alltime.barometer.min.formatted|$alltime.barometer.mintime.format("%d%b%y %H:%M")|#slurp
## 145-148
$alltime.dewpoint.min.formatted|$alltime.dewpoint.mintime.format("%d%b%y %H:%M")|$alltime.dewpoint.max.formatted|$alltime.dewpoint.maxtime.format("%d%b%y %H:%M")|#slurp
## 149-152
$alltime.outHumidity.min.formatted|$alltime.outHumidity.mintime.format("%d%b%y %H:%M")|$alltime.outHumidity.max.formatted|$alltime.outHumidity.maxtime.format("%d%b%y %H:%M")|#slurp
## 153-156
$alltime.barometer.max.formatted|$alltime.barometer.maxtime.format("%d%b%y %H:%M")|$alltime.barometer.min.formatted|$alltime.barometer.mintime.format("%d%b%y %H:%M")|#slurp
## 157
$alltime.rain.sum.formatted|#slurp
#else
## 134-137
||||#slurp
## 138-140
|||#slurp
## 141-144
||||#slurp
## 145-148
||||#slurp
## 149-152
||||#slurp
## 153-156
||||#slurp
## 157
|#slurp
#end if
